/*
Global variables
---------------*/
/*
Reset
---------------*/
@font-face {
  font-family: LibreBaskervilleRegular;
  src: url("../fonts/libre-baskerville/LibreBaskerville-Regular.otf"); }

@font-face {
  font-family: LibreBaskervilleBold;
  src: url("../fonts/libre-baskerville/LibreBaskerville-Bold.otf"); }

@font-face {
  font-family: RalewayThin;
  src: url("../fonts/raleway/Raleway-Thin.otf"); }

@font-face {
  font-family: RobotSlabThin;
  src: url("../fonts/roboto-slab/RobotoSlab-Thin.ttf"); }

@font-face {
  font-family: RobotSlabLight;
  src: url("../fonts/roboto-slab/RobotoSlab-Light.ttf"); }

@font-face {
  font-family: RobotSlabRegular;
  src: url("../fonts/roboto-slab/RobotoSlab-Regular.ttf"); }

@font-face {
  font-family: RobotSlabBold;
  src: url("../fonts/roboto-slab/RobotoSlab-Bold.ttf"); }

*, fieldset {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  background: #fff;
  color: #4a4a4a;
  font-family: 'LibreBaskervilleRegular', georgia, serif;
  font-size: 1.8em; }

fieldset, img {
  border: none; }

p, li, dt, dd, label, input, textarea, legend, pre, table {
  font-size: 1em; }

strong, a, em {
  font-size: inherit; }

pre {
  font-family: "Courier New", Courier, monospace; }

abbr, acronym {
  border-bottom: 1px dotted #4a4a4a;
  cursor: help;
  font-family: inherit; }

.clear {
  clear: both; }

/* Header skip links */
#access-links li {
  display: inline;
  list-style-type: none; }

#access-links li a, #access-links li a:hover {
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  height: 0;
  left: -999%;
  overflow: hidden;
  padding: .3em;
  position: absolute;
  top: 0;
  text-decoration: none; }

#access-links li a:active, #access-links li a:focus {
  background: #4a4a4a;
  color: #fff;
  height: auto;
  left: 0;
  padding: .5em 2em .8em 2em;
  position: absolute;
  top: 0;
  width: auto;
  z-index: 1000; }

input[type=search] {
  -webkit-appearance: none; }

.hidden {
  font-size: 0 !important;
  height: 0 !important;
  left: -999% !important;
  line-height: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  width: 0 !important; }

/*
Mixins
---------------*/
/*
Grid
---------------*/
/* Global layouts */
.inner {
  padding: 10px; }

.wrap {
  margin: 0 auto;
  width: 720px; }

.col {
  float: left;
  margin-left: 10px;
  margin-right: 10px; }

footer {
  clear: both;
  margin: 0 auto;
  width: 100%; }

/*
Layout
---------------*/
header {
  border-bottom: 1px solid #4a4a4a;
  font-family: arial, sans-serif;
  font-size: .8em;
  margin-bottom: 2px;
  padding: 40px 0 20px 0;
  position: relative;
  text-transform: lowercase; }
  header:before {
    border-bottom: 2px solid #4a4a4a;
    bottom: -5px;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1; }
  header .roundel {
    -moz-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    -webkit-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
    border-radius: 30px 30px 30px 30px;
    background-color: transparent;
    background-image: url(../imgs/sprite.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    background-color: #4a4a4a;
    height: 60px;
    width: 60px; }
  header a {
    border-bottom: 0;
    color: #4a4a4a;
    font-weight: normal; }
  header a:hover,
  header a:focus {
    border-bottom: 0; }
    header a:hover .roundel,
    header a:focus .roundel {
      background-color: #ff9000; }
  header .name,
  header .tagline,
  header .divider {
    display: inline-block;
    vertical-align: 25px; }
  header .name,
  header .divider {
    font-weight: bold; }
  header .divider {
    color: #ff9000; }

.main-content {
  float: left;
  padding-top: 60px; }

.item-grab {
  margin-bottom: 60px; }
  .item-grab img {
    display: block;
    height: 220px;
    width: 100%; }

.item-content-wrap {
  float: left; }

.item-meta-wrap {
  float: right; }

.item-meta {
  border-left: 1px dotted #bbb;
  margin-bottom: 20px;
  padding: 0 0 0 30px; }

footer {
  clear: both; }

.band {
  box-shadow: 0 0 5px #4a4a4a;
  background: #eee;
  float: left;
  padding: 40px 0;
  width: 100%; }

.self-pic {
  border-radius: 75px 75px 75px 75px;
  box-shadow: 0 0 5px #4a4a4a;
  float: left;
  margin-right: 1em; }

.about p {
  overflow: auto; }

/*
Typography
---------------*/
p, li {
  line-height: 1.8em;
  padding-bottom: 2em; }

h1, h2, h3 {
  font-family: 'Roboto Slab'; }

h1 {
  font-size: 2em;
  font-weight: 700;
  padding-bottom: 20px; }

h2, h3 {
  font-weight: 400; }

h2 {
  padding-bottom: .5em; }

.item-teaser {
  height: 140px;
  width: 220px; }
  .item-teaser h2 {
    font-size: 1em;
    padding-top: .5em; }
  .item-teaser.js-on h2 {
    background: #535353;
    background: -moz-radial-gradient(center, ellipse cover, #535353 0%, black 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #535353), color-stop(100%, black));
    background: -webkit-radial-gradient(center, ellipse cover, #535353 0%, black 100%);
    background: -o-radial-gradient(center, ellipse cover, #535353 0%, black 100%);
    background: -ms-radial-gradient(center, ellipse cover, #535353 0%, black 100%);
    background: radial-gradient(ellipse at center, #535353 0%, black 100%);
    display: table;
    height: 140px;
    padding-top: 0;
    position: relative;
    top: -144px;
    width: 220px; }

.item-content p:first-of-type {
  /*font-weight:bold;*/ }

.item-meta {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: .8em; }
  .item-meta p {
    padding-bottom: .5em; }
  .item-meta ul {
    padding-left: 15px; }
  .item-meta li {
    list-style: square outside;
    padding: 0; }
    .item-meta li:after {
      content: ', '; }
    .item-meta li:last-of-type:after {
      content: ''; }

.band p, .band li {
  font-family: arial, helvetica, verdana, sans-serif;
  font-size: .9em;
  line-height: 1.7em; }

.skills-wrap li {
  display: inline; }
  .skills-wrap li:after {
    content: ', '; }
  .skills-wrap li:last-of-type:after {
    content: ''; }

/*
Navigation
---------------*/
a {
  -moz-transition: border-bottom 0.3s linear;
  -o-transition: border-bottom 0.3s linear;
  -webkit-transition: border-bottom 0.3s linear;
  transition: border-bottom 0.3s linear;
  border-bottom: 1px solid transparent;
  color: #ff9000;
  text-decoration: none; }
  a:hover, a:focus {
    border-bottom: 1px solid #ff9000; }

.item-teaser.js-on h2 a {
  color: #fff;
  display: table-cell;
  font-weight: normal;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle; }
  .item-teaser.js-on h2 a:focus {
    text-decoration: underline; }

.item-meta a {
  font-weight: bold; }

.social-links {
  padding-bottom: 40px; }
  .social-links li {
    display: inline;
    font-size: .8em;
    list-style: none outside;
    margin-right: 50px; }
    .social-links li:last-of-type {
      margin-right: 0; }
  .social-links a {
    color: #4a4a4a;
    font-weight: normal;
    text-transform: uppercase; }
  .social-links span {
    display: inline-block;
    vertical-align: middle; }
  .social-links .icon {
    -moz-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    -webkit-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
    border-radius: 25px 25px 25px 25px;
    background-color: transparent;
    background-image: url(../imgs/sprite.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    background-color: #4a4a4a;
    height: 40px;
    margin-right: 10px;
    width: 40px; }
  .social-links a.link-cv .icon {
    background-position: -60px 0; }
  .social-links a.link-github .icon {
    background-position: -100px 0; }
  .social-links a:hover,
  .social-links a:focus {
    -moz-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    transition: color 0.3s linear;
    border-bottom: 0;
    color: #ff9000; }
    .social-links a:hover .icon,
    .social-links a:focus .icon {
      background-color: #ff9000; }

/*
Tooltip
---------------*/
.tooltip-wrap {
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 3px black;
  background: #555;
  border: 1px solid #fff;
  color: #fff;
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: .7em;
  font-weight: bold;
  max-width: 200px;
  opacity: 0;
  width: auto; }
  .tooltip-wrap .inner {
    padding: .5em 1em; }

/*
Media queries
---------------*/
/* 960px + */
@media only screen and (min-width: 960px) {
  .col.span-1 {
    width: 60px; }

  .col.span-2 {
    width: 140px; }

  .col.span-3 {
    width: 220px; }

  .col.span-4 {
    width: 300px; }

  .col.span-5 {
    width: 380px; }

  .col.span-6 {
    width: 460px; }

  .col.span-7 {
    width: 540px; }

  .col.span-8 {
    width: 620px; }

  .col.span-9 {
    width: 700px; }

  .col.span-10 {
    width: 780px; }

  .col.span-11 {
    width: 860px; }

  .col.span-12 {
    width: 940px; } }
/* < 960px (tablets etc) */
@media only screen and (max-width: 960px) {
  .wrap {
    width: 720px; }

  .col.span-1,
  .col.span-2,
  .col.span-3,
  .col.span-4,
  .col.span-5,
  .col.span-6,
  .col.span-7,
  .col.span-8,
  .col.span-9,
  .col.span-10,
  .col.span-11,
  .col.span-12 {
    width: 100%; }

  .band {
    padding: 0; }

  .main-content,
  .about,
  .self-pic-wrap {
    padding: 20px; }

  .item-grab {
    height: 160px;
    margin-bottom: 100px; }
    .item-grab img {
      height: auto;
      width: 100%; }

  .item-meta-wrap,
  .item-content-wrap {
    float: none; }

  .item-meta {
    border-bottom: 1px solid #ddd;
    border-left: 0;
    margin-bottom: 1em;
    padding: 0 0 1.5em 0; }
    .item-meta p {
      padding-bottom: .5em; }
    .item-meta ul {
      padding: 0; }
    .item-meta li {
      display: inline;
      list-style: none; }
      .item-meta li:after {
        content: ', '; }
      .item-meta li:last-of-type:after {
        content: ''; }

  .about h2 {
    text-align: center; }

  .self-pic-wrap {
    padding: 20px 0;
    text-align: center; }
    .self-pic-wrap img {
      float: none; } }
/* < 720px (mobiles etc) */
@media only screen and (max-width: 720px) {
  .wrap {
    width: 100%; }

  .col {
    float: none;
    margin: 0; }

  .col.span-1,
  .col.span-2,
  .col.span-3,
  .col.span-4,
  .col.span-5,
  .col.span-6,
  .col.span-7,
  .col.span-8,
  .col.span-9,
  .col.span-10,
  .col.span-11,
  .col.span-12 {
    width: 100%; }

  .header {
    padding: 10px 0 0 0; }

  .logo {
    text-align: center; }
    .logo .roundel {
      display: block;
      margin: 0 auto; }
    .logo span {
      display: inline-block;
      margin-top: 10px; }

  .main-nav {
    border-top: 1px solid #fff;
    margin-bottom: 10px;
    text-align: center; }
    .main-nav li {
      display: inline;
      padding: 0 5px; }
    .main-nav a {
      display: inline;
      padding: 23px 10px; }
      .main-nav a.github {
        background-position: center left; }
      .main-nav a.current {
        background: url(../imgs/main-nav-current-bottom.png) center bottom no-repeat transparent; }

  .item-grab {
    height: auto;
    margin-bottom: 20px;
    width: 100%; }

  .about li {
    display: block; } }
