//
// Global variables
//

// Color palette
$bodyTextColor: #2f2a24;
$accentPrimary100: #df4931;
$accentPrimary75: #b9c8b3;
$accentPrimary50: #d0dacc;
$accentPrimary25: #e7ece6;
$accentPrimary10: #f5f7f5;

$accentSecondary100: #328bb7;

$accentTertiary100: #f9f7e8;