//
// Global variables
//

// Color palette
$bodyTextColor: #4a4a4a;
$accentPrimary100: #ff9000;
$accentPrimary75: #b9c8b3;
$accentPrimary50: #d0dacc;
$accentPrimary25: #e7ece6;
$accentPrimary10: #f5f7f5;