/*
Tooltip
---------------*/
.tooltip-wrap {
	@include borderRadius(3px, 3px, 3px, 3px);
	@include boxShadow(0, 0, 3px, #000);
	background:#555;
	border:1px solid #fff;
	color:#fff;
	font-family:arial, verdana, helvetica, sans-serif;
	font-size:.7em;
	font-weight:bold;
	max-width:200px;
	opacity:0;
	width:auto;
	.inner {
		padding:.5em 1em;
	}
}